<!--<article class="sample-column card-wrapper" _ngcontent-c2="">
  <igx-card id="igx-card-1" _ngcontent-c2="">
    <div class="igx-card" role="group">
      <div class="overflow-hidden" _ngcontent-c2=""><img width="100%" height="100%"
          src="assets/images/card/media/yosemite.jpg" _ngcontent-c2=""></div>
      <igx-card-header _ngcontent-c2="">
        <h3 class="igx-card-header__title" _ngcontent-c2="">Incipient Dawn</h3>
        <h5 class="igx-card-header__subtitle" _ngcontent-c2="">Yosemite National Park</h5>
      </igx-card-header>
      <igx-card-actions _ngcontent-c2="">
        <div class="igx-card-actions__bgroup" _ngcontent-c2="">
          <button class="igx-button--flat" role="button" _ngcontent-c2="" igxbutton=""
            igxripple="">Share</button><button class="igx-button--flat" role="button" _ngcontent-c2="" igxbutton=""
            igxripple="">Explore</button></div>
      </igx-card-actions>
    </div>
  </igx-card>
</article>


<igx-tabs>
  <igx-tabs-group label="Tab 1">This is Tab 1 content.</igx-tabs-group>
  <igx-tabs-group label="Tab 2">This is Tab 2 content.</igx-tabs-group>
  <igx-tabs-group label="Tab 3">This is Tab 3 content.</igx-tabs-group>
  <igx-tabs-group label="Tab 4">This is Tab 4 content.</igx-tabs-group>
  <igx-tabs-group label="Tab 5">This is Tab 5 content.</igx-tabs-group>
</igx-tabs>
-->
<app-navdrawer></app-navdrawer>